<!DOCTYPE html>
<html>
<head>
  <title>Lily Wick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript">
  
  var colCount = 0;
  var colWidth = 300;
  var margin = 10;
  var windowWidth = 0;
  var spaceLeft = 0;
  var posts = [];

  $(function(){
  $(window).resize(setupPosts);
});

  function setupPosts() {
      windowWidth = $(window).width();
      posts = [];
      // colWidth = $('.post').outerWidth();
      // colCount = Math.floor(windowWidth/(colWidth+margin));
      colCount = Math.floor(windowWidth/(colWidth+margin*2));
      spaceLeft = (windowWidth - ((colWidth*colCount)+(margin*(colCount-1)))) / 2;
      for(var i=0; i < colCount; i++) {
        posts.push(margin);
      }
      positionPosts();
  }

  function positionPosts() {
    $('.post').each(function(){
        var min = Array.min(posts);
        var index = $.inArray(min, posts);
        var leftPos = margin+(index*(colWidth+margin));
        $(this).css({
            'left':(leftPos+ spaceLeft)+'px',
            'top':min+'px'
        });
        posts[index] = min + $(this).outerHeight()+margin;
    });
}

  // Function to get the Min value in Array
  Array.min = function(array) {
      return Math.min.apply(Math, array);
  };

</script>

<body onload="setupPosts();">
<h1>LILY WICK</h1>
<%= yield %>

</body>
</html>
